@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";


body {
  margin: 0;
  box-sizing: border-box;
  padding: 0%;
}

html{
  font-size: 62.5%;
}
.ant-input {
  border-radius: 0 !important;
}

#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}