/* Cập nhật cho Button Edit và Delete */
.button-edit {
    width: 80px; /* Chiều dài cố định */
    text-align: center;
    border: 1px solid #d9d9d9;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    padding: 6px 0;
    transition: all 0.3s ease;
  }
  
  .button-edit:hover {
    border: 1px solid #f95230 !important;
    color: #f95230 !important;
    background-color: #fff;
  }
  
  /* Pagination */
  .ant-pagination-item a {
    background: #f95230 !important;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .ant-pagination-item-active a {
    background-color: #d43d1a !important;
    color: #ffffff !important;
  }
  
  .ant-pagination-item:hover a {
    background-color: #fa4f31 !important;
    color: #ffffff;
  }
  
  .ant-pagination-item {
    margin: 0 5px;
  }
  
  .ant-pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  